:root{
    $body__color-white:#ffffff;
    $main__color-green: #03E3BA;
    $main__color-darkgreen:#081C16;
    $bg-color-dark-darkgrey: #141414;
    $bg-color-darkgrey:#201F1F;
    $bg-color-grey:#767676;
    $bg-color-lightgrey:#999898;


    $font-small:14px;
    $font-medium:24px;
    $font-big:42px;
    }


    
     /*colors*/
  
  h1{
    color:$main__color-green;
  }

  h2, h3{
    color: $body__color-white;
  }
  small{
  color:$main__color-green;
}
  .pattern-color-main-color-green {
    background-color:$main__color-green;
  }
  
  .pattern-color-main-color-darkgreen {
    background-color:  $main__color-darkgreen;
  }
  
  .bg-color-dark-darkgrey {
    background-color:  $bg-color-dark-darkgrey;
  }
  
  .bg-color-darkgrey{
    background:  $bg-color-darkgrey;
  }
  
  .bg-color-grey{
    background-color: $bg-color-grey;
  }
  
  .bg-color-lightgrey{
    background-color: $bg-color-lightgrey;
  }
  
  .bg-color-white{
    background-color: $body__color-white;
  }

  .pattern-content {
    padding: 50px;
    background-color: $main__color-darkgreen;
  }
  