@import "variable";
@import "commons";
@import "header";
@import "footer";
@import "typography";

.pattern-section--colors {
    display:flex;
    flex-flow: column wrap;
    width: 65%;
    margin-left: 33%;
  }

  .pattern-color .bg-color {
    margin-right: 10px;
    border-radius: 4px;
  }

  .tooltip {
    display:none;
    width: 850px;
    height: 100px;
    color: var(--bg-color-dark-darkgrey);
    border: 1px solid var(--bg-color-grey);
    background: var(--bg-color-lightgrey);
    opacity: 85%;
  }
  
  .color-name:hover .tooltip {
    display:block;
  }
  
  .color-name {
    width: 200px;
    height: 40px;
    border-bottom: 0.5px solid var(--bg-color-lightgrey);
    background-color: var(--body__color-white);
    display: block;
    color: var(--bg-color-grey);
    text-align: center;
    padding: 20px 20px;
  }
  
  .pattern-title {
    border-bottom: 0.5px solid var(--bg-color-grey);
    font-size: var(--font-big);
    color: var(--bg-color-lightgrey);
  }

  @media all and (max-width: 600px) {
    .pattern-content{
       height: 100%;
    }
    .header {
        width: 100vw;
        height: 30%;
        position: fixed;
    }
     .pattern-section--colors   {
        flex-flow: column wrap;
        width: 65%;
        margin-top:50%; 
        margin-left:12px;
     }

     .color-name {
        width: 50px;
        height: auto;
        text-shadow: 1px 1px var(--bg-color-darkgrey);
     }
    }